.animal-info {
    margin-top: 24px;
}

.animal-info .animal-photo > img {
    width: 100%;
    border-radius: 8px;
    max-height: 471px;
    margin-bottom: 24px;
}

.animal-info .animal-details__table {
    margin-top: 10px;
    margin-bottom: 18px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 20px;
}

.animal-info .animal-details__table td {
    padding: 6px 8px;
}

.animal-info .animal-details__table tr:nth-child(odd) {
    background-color: rgba(196, 196, 196, .1);
}

.animal-info .animal-details__table td:first-child {
    opacity: 0.5;
    color: var(--black);
}

.animal-info .animal-details__cost {
    margin-bottom: 8px;
}

.animal-info .animal-details__value {
    margin-bottom: 14px;
    color: var(--orange-button);
}

.animal-info .animal-details__buttons {
    display: flex;
}

.animal-info .animal-details__buttons button {
    margin-right: 12px;
}

@media screen and (max-width: 639px) {
    .animal-details__title {
        text-align: center;
    }
}


