.basket {
    background-color: var(--white);
    max-width: 656px;
    margin: 0 auto;
}

.basket__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.basket__title img {
    cursor: pointer;
}

.basket__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.deleting {
    display: flex;
    align-items: center;
    padding: 0 0 8px;
    height: 32px;
}

.deleting > img {
    margin-left: 24px;
}

.basket__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-top: 14px;
    text-transform: capitalize;
}

.basket__item .name {
    flex-basis: 30%;
}

.basket__item .animal-photo {
    height: 79px;
    width: 100px;
}

.basket__result {
    text-align: center;
    margin: 25px 0;
}

.basket__result .sum {
    padding-left: 4px;
}

.basket__button {
    margin: 0 auto;
}

@media screen and (max-width: 639px)  {
    .basket__item {
        display: block;
        position: relative;
    }

    .basket__item .checkbox,
    .delete-item {
        position: absolute;
        top: 25%
    }

    .delete-item {
        right: 0;
    }

    .basket__item .animal-photo {
        float: left;
        margin: 0 14px 5px 35px;
    }

    .basket__item .name {
        padding: 13px 0;
    }

    .basket__item .amount {
        padding-bottom: 18px;
    }

    .basket__item .price {
        margin-left: 35px;
        width: 100px;
        text-align: center;
        margin-bottom: -5px;
    }
}