.catalog {
    display: flex;
    margin-bottom: -15px;
    width: 100%;
}

.catalog__orange-button,
.catalog__red-button {
    width: 656px;
    height: 98px;
    border: none;
    background-color: var(--orange-button);
    color: var(--gray-text);
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.catalog__orange-button:before,
.catalog__red-button:before {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    content: url("../assets/img/dog-catalog.svg");
    opacity: 0.2;
}

.catalog__red-button {
    background-color: var(--red-menu);
}

.catalog__red-button:before {
    content: url("../assets/img/cat-catalog.svg");
}

