@media screen and (max-width: 1190px) {
    
    .filter {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 100vh;
        z-index: 100;
        margin: 0;
        overflow-y: scroll;
        background-color: var(--white);
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
        border-radius: 0;
    }

    .separate-filter {
        display: inline-block;
        margin-right: 100px;
    }

    .filter-hide {
        display: none
    }

}