.main section hr {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
    border: 0;
    opacity: 0.1;
    border-bottom: 1px solid var(--black);
}

.recipient-info {
    margin-top: 24px;
    margin-bottom: 30px;
}

.recipient-info__form > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.delivery-info__form {
    margin-top: 20px;
    margin-bottom: 30px;
}

.order__title > hr {
    margin-bottom: 30px;
    opacity: 0.22;
    border-bottom: 1px solid var(--black);
}

.order {
    margin-bottom: 32px;
}

.order__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-top: 14px;
}

.order__item .name {
    flex-basis: 60%;
}

.order__item .amount{
    flex-basis: 10%;
}

.order__item .price {
    flex-basis: 12%;
}

.order__item img {
    height: 79px;
    width: 100px;
}

.total div {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.total button {
    width: 100%;
    margin: 30px auto;
}

@media screen and (max-width: 639px)  {
    .order__item {
        display: block;
    }

    .order__item > img {
        float: left;
        margin: 0 14px 5px 0;
    }

    .order__item .name  {
        padding: 13px 0;
    }

    .order__item .amount  {
        padding-bottom: 18px;
    }

    .order__item .price  {
        width: 100px;
        text-align: center;
    }
}






